<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Coronavirus in London</title>
    <meta name="description" content="Estimate the number Coronavirus cases that may have occurred across London." />
    <meta property="og:url" content="https://dankarran.github.io/coronavirus-london/" />
    <meta property="og:title" content="Coronavirus in London" />
    <meta property="og:description" content="Estimate the number Coronavirus cases that may have occurred across London." />
    <meta property="og:image" content="https://dankarran.github.io/coronavirus-london/images/coronavirus-london-preview.png" />
    <meta property="og:image:width" content="1464" />
    <meta property="og:image:height" content="940" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dankarran" />
    <meta name="twitter:creator" content="@dankarran" />
    <meta name="author" content="Dan Karran" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-303559-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-303559-13');
    </script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="">
</head>
<body class="">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Coronavirus in London</a>
    </nav>

    <main role="main" class="">
        <div class="container">
            <div id="app">
                <div class="row">
                    <div class="col-lg-8">
                        <p class="lead">Estimate the number Coronavirus cases that may have occurred across London</p>
                        <p>The estimates shown below are based on the number of deaths with COVID-19 per day provided by the NHS. The numbers are extrapolated based on the selected assumptions for fatality rate and the amount of time between people catching the virus and sadly passing away from it.</p>
                        <p><small><em>Data updated {{ dataUpdated }}</em></small></p>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-light" id="options">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <label for="fatality">Estimated fatality rate</label>
                                            <select class="form-control" id="fatality" v-model="fatality" v-on:change="updateExtrapolation">
                                                <optgroup v-for="optgroup in fatalityOptions" :label="optgroup.label">
                                                    <option v-for="option in optgroup.options" :value="option.value">{{ option.label }}</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="form-group">
                                            <label for="delay">Estimated time from COVID-19 infection to death for those {{ fatality }}% of people</label>
                                            <select class="form-control" id="delay" v-model="delay" v-on:change="updateExtrapolation">
                                                <option v-for="option in delayOptions" :value="option.value">{{ option.label }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div id="chart-wrapper">
                            <canvas id="chart"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header bg-primary text-white">
                                        Confirmed cases
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ (parseInt(stats.cases)).toLocaleString() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header bg-warning text-white">
                                        Deaths in hospital
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ parseInt(stats.deaths).toLocaleString() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header bg-secondary text-white">
                                        Estimated cases
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ parseInt(stats.casesExtrapolated).toLocaleString() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        Estimated population %
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ parseInt(stats.populationPercent).toLocaleString() }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        Uncounted cases
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ (stats.casesExtrapolated - stats.cases).toLocaleString() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        % of cases counted
                                    </div>
                                    <div class="card-body">
                                        <div class="stat">
                                            {{ (stats.cases / stats.casesExtrapolated * 100).toFixed(1) }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Events</h4>

                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Event</th>
                                    <!-- <th>Confirmed cases</th>
                                    <th>Estimated cases</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="event in eventsData">
                                    <td>{{ event.date }}</td>
                                    <td>{{ event.description }}</td>
                                    <!-- <td></td>
                                    <td></td> -->
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Sources</h4>
                        <ul>
                            <li>Confirmed cases: <a href="https://coronavirus.data.gov.uk">PHE Coronavirus dashboard</a></li>
                            <li>Deaths: <a href="https://www.england.nhs.uk/statistics/statistical-work-areas/covid-19-daily-deaths/">NHS England COVID-19 Daily Deaths</a></li>
                            <li>TfL Tube usage: <a href="https://www.gov.uk/government/collections/slides-and-datasets-to-accompany-coronavirus-press-conferences">Slides, datasets and transcripts from press conferences at 10 Downing Street in response to coronavirus</a></li>
                            <li>Citymapper Mobility Index: <a href="https://citymapper.com/cmi/london">Citymapper Mobility Index - London</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <small><span class="text-muted">Built by <a href="https://www.dankarran.com">Dan Karran</a>. Code on <a href="http://github.com/dankarran/coronavirus-london">GitHub</a>.</span></small>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="js/data.js"></script>
    <script src="js/app.js"></script>

</body>
</html>