body {
  padding-top: 5rem;
}

#chart-wrapper {
  margin-bottom: 1rem;
}
#chart {
  height: 400px;
}

.row+.row {
  margin-top: 1rem;
}

.card-body .stat {
  font-size: 1.4rem;
  transition: ease-in 3s;
}

.footer {
  margin-top: 2rem;
  background-color: #f5f5f5;
}

.footer > .container {
  padding: 1rem;
}